src/__pycache__/*
exp_data/data_user_input.txt
exp_data/data_user_input_large.txt
src/exp_gui/exp_data/pinkPort_2023-05-30.csv
src/exp_gui/exp_data/pinkPort_2023-06-04.csv
src/exp_gui/exp_data/pinkPort_2023-06-05.csv
